<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<title>@ViewBag.Title</title>
	<link rel="stylesheet" href="https://unpkg.com/@@picocss/pico@@latest/css/pico.classless.min.css">
	<style>
		body {
			font-family: Arial, sans-serif;
			text-align: center;
		}

		article {
			word-wrap: break-word;
			overflow-wrap: break-word;
		}
	</style>
</head>
<body>
	<header>
		<nav>
			<ul>
				<li><a asp-controller="Breeds" asp-action="Index">Dog Breeds</a></li>
				@if (User.IsInRole("Administrator"))
					{
						<li><a asp-controller="Account" asp-action="Admin">Admin View</a></li>
					}
					</ul>
					<ul style="align-self: flex-end">
				@if (User.Identity?.IsAuthenticated ?? false)
				{

					@if ((User.Identity?.IsAuthenticated ?? false) && User.FindFirst("FirstName") != null)
					{
						<li>User: @User.FindFirst("FirstName")!.Value</li>
					}

					
					<li><a asp-controller="Account" asp-action="LogOut">Logout</a></li>

					
				}
				else
				{
					<li><a asp-controller="Account" asp-action="LogIn">Login</a></li>
					<li><a asp-controller="Account" asp-action="Register">Register</a></li>
				}
			</ul>
		</nav>

		<h1>@ViewBag.Title</h1>

	</header>

	<main>
		@RenderBody()
	</main>

	@RenderSection("scripts", required: false)
</body>
</html>
